<!DOCTYPE html>
<html lang="en">
    <html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    >
    <head th:include="fragments/layout :: headerFragment">
        <title>Skeptic Moon Bio</title>
    </head>
<body>
    <div th:replace="fragments/navbar"></div>
    <div class="container">
        <div class="conatiner" id="main-bio">
                <p>Skeptic Moon is a band formed in New Orleans, Louisiana in March 2019. 
                    Skeptic Moon is quickly carving a unique niche on the New Orleans scene. 
                    A growing repertoire of original music, written collaboratively, 
                    indicates a distinct approach to music-making. 
                    The band's style draws from each member's mutual love of 
                    jazz, fusion, progressive rock, classical, experimental noise,
                    metal, and hip-hop styles, leading to a trademark sound.
                </p>
                <img src="/pictures/full-band.jpg" id="full-band-picture">
            <div id="band-member-cell">
                <div class="row">
                    Jake plays the drums. He hails from Brattleboro, Vermont. He draws 
                    inspiration from his favorite bands and artists, which currently 
                    include King Crimson, Christian Scott ATunde Adjuah, My Morningn Jacket, and IK Diaro. 
                    <img src="/pictures/jake.jpg" id = "band-membber-picture">
               </div>
            </div>
        </div>
        <div id="bio-cell">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>