<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:include="fragments/layout :: headerFragment">
    <title th:with="pageTitle= 'Skeptic Moon'"> </title>
    <!-- Needs some help getting title to appear-->
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
        <h1 id="listen-header">Listen To Skeptic Moon</h1>
        <div class="conatiner" id="album-bio">
        </div>
        <div id="album-bio-text">
            <p> Days before our bassist and friend Sam Kohler left to attend 
                Peabody in Baltimore, Skeptic Moon went into Funky Nola Studio on North Broad Street
                and recorded a 7-track album. Two days in the studio, with the help of Johnny and Todd, wielded our
                 first studio album, 
                which is currently in the processes of being mixed by our keyboardist, Jamie Koffler.
                Listen to some unmixed, unmastered samples below ...
            </p>
        </div>
    
        
        
        <figure id="music-sample">
            <figcaption>Ripperrou
            </figcaption>
            <audio
                controls
                src="https://docs.google.com/uc?export=download&id=1vzkB-H0UM1WIoiK59LczoEBwU7lLFNTD">
                
                    Your browser does not support the
                    <code>audio</code> element.
            </audio>
        </figure>
        <figure id="music-sample">
            <figcaption>New Song 13
            </figcaption>
            <audio
                controls
                src="https://docs.google.com/uc?export=download&id=1FC8QXo6asuhO-l779c56X698ZrFufiVH">
                   Your browser does not support the
                    <code>audio</code> element.
            </audio>
        </figure>
        <figure id="music-sample">
            <figcaption>Hedgehog Money
            </figcaption>
            <audio
                controls
                src="https://docs.google.com/uc?export=download&id=1dH1GKIIBvjXclbzjdMjsCDKOaMz5shor">
                    Your browser does not support the
                    <code>audio</code> element.
            </audio>
            <br>
            <a id="hedgehog-download" href="https://drive.google.com/uc?authuser=0&id=1dH1GKIIBvjXclbzjdMjsCDKOaMz5shor&export=download">Download Hedgehog Money</a>
            
        </figure>

        <div id="album-bio-text">
            <p> Our first single, Ripperrou. Recorded at Loyola University Studios in November, 2019.
            </p>
        </div>
        <iframe id="spotify" src="https://open.spotify.com/embed/track/5trvoLoN4ZlZ2n2zmdCe8p" frameborder="10px" 
        allowtransparency="true" allow="encrypted-media"></iframe>

        <h2 id="live-header">Skeptic Moon Live</h2>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1166454607&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/skepticmoon" title="Skeptic Moon" target="_blank" style="color: #cccccc; text-decoration: none;">Skeptic Moon</a> · <a href="https://soundcloud.com/skepticmoon/sets/20200201-sidebar-nola" title="2020.02.01 Sidebar Nola" target="_blank" style="color: #cccccc; text-decoration: none;">2020.02.01 Sidebar Nola</a></div>


    </div>
    
</body>
</html>