<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:include="fragments/layout :: headerFragment">
    <title th:with="pageTitle= 'Skeptic Moon'"> </title>
    <!-- Needs some help getting title to appear-->
</head>
<body>
    
    <div class="container">
        <div th:replace="fragments/navbar"></div>

        <h1 id="shows-header">
            <p>
                No shows currently.... Thanks Corona
            </p>
            <br>
            <p>
                ;(
            </p>
        </h1>
    </div>
</body>
</html>